
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --primary: #d2fdaf;
    --secondary1: #A5D6A7;
    --secondary2: #A5D6A7;
    --accent: #1B5E20;

    --text-color: #1B5E20;

}

@font-face {
    font-family: 'title';
    src: url(../assets/fonts/TeshrinAR+LT-Bold.otf);
}
@font-face {
    font-family: 'text';
    src: url(../assets/fonts/Digi\ Lalezar\ Plus.ttf);
}

h1,h2,h3,h4,h5,h6, strong{
    font-family: 'main';
    color: var(--text-color);
}

p,span,a,li{
    font-family: 'text';
    color: var(--text-color);
    text-decoration: none;

}

body{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    height: 500vh;

}


nav{
    /* background-color: var(--secondary2); */
    background: url(../assets/banner.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    width: 90%;
    height: 100px;
    margin: 30px auto;
    border-radius: 18px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.257);


    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    position: sticky;
    top: 25px;
    /* left: 50%; */
    right: auto;
    /* transform: translate(50%,0px); */







    z-index: 9999;
}

.sticky-example{
    position: sticky;
    top: 50px;
    left: 50px;
}

nav a{
    font-size: 35px;
}
nav img{
    width: 100px;
    mix-blend-mode: multiply;
    animation: myAnimation 3s infinite;

}
nav input{
    height: 40px;
    width: 260px;
    background-color: #d2fdaf;
    border: 3px solid var(--accent);
    border-radius: 15px;
    padding: 8px;
    outline: none;
}

header{
    position: relative;
    width: 100%;
}
header img{
    width: 100%;
}

header h1{
    font-size: 48px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}
header h2{
    font-size: 38px;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

header a{
    background-color: white;
    padding: 8px 12px;
    border-radius: 12px;

    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);

}

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul{
    margin-top: 200px;
}

.card{
    position: relative;
    width: 320px;
    height: 600px;


    margin: 100px auto;

    border: 3px solid var(--accent);
    border-radius: 25px;
    




}

.image-holder{
    width: 100%;
    height: 300px;
    background-color: var(--accent);
    border-radius: 20px;
}

.price-box{

    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--accent);
    border-radius: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;

}

.card h2{
    white-space: nowrap;
    
    text-overflow: ellipsis;
    overflow: hidden;

    margin: 12px 15px;


}

.card hr{
    width: 80%;
    margin: 8px auto;

    box-shadow: 0px 0px 8px 3px rgba(68, 255, 47, 0.618);
}

.card p{

    height: 70px;
    overflow: scroll;

    scrollbar-width: none;
    

    margin: 12px 15px;

}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px;
}

.feature-offer{
    border: 3px solid rgba(20, 200, 0, 0.618);
    border-radius: 12px;
    padding: 8px 12px;
    color: var(--accent);
    box-shadow: 0px 0px 8px 3px rgba(68, 255, 47, 0.618);
    background-color: var(--primary);
}
.tag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);

}

.price-box span{
    color: var(--primary);
}

.product-grid{
    padding: 50px 100px;
    border: 3px solid  var(--accent);
    border-radius: 25px;
    width: 95%;
    margin: 50px auto;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

}



@keyframes myAnimation {
    0%{
        transform: translate(0px,0px);
        background-color: red;
    }
    50%{
        transform: translate(0px,5px);
        background-color: blue;

    }
    100%{
        transform: translate(0px,0px);
        background-color: red;

    }
    
}


