:root{
    --lightblue : rgb(114, 203, 255);
    --darkblue : rgb(0, 58, 92);

    --shadedbisque: rgb(253, 201, 137);
}
@font-face {
    font-family: 'font-asli';
    src: url(../assets/fonts/Pashtu\ Outline_MRT.ttf);
}
body{
    background-color: rgb(40, 40, 40);
    /* font-family: 'font-asli'; */
}
.my-button{
    align-items: center;
    width: 500px;
    height: 500px;
    color: red;
    /* background: linear-gradient(90deg, black, white); */
    background-color: bisque;
    font-size: 40px;
    padding: 12px 18px;
    margin: 12px 0px;
    border-radius: 20px;
    border: 3px solid red;
    box-shadow: 5px 5px 0px 3px red;
    transition: 0.4s all;
    outline: none;
}
.my-button:hover{
    background-color: white;
    transform: scale(1.05);
    box-shadow: 8px 8px 0px 3px red;
}


/* ====================================================================== */

.container{

    margin: 30px auto;
    width: 800px;
    height: fit-content;
    background-color: bisque;
    border: 3px solid brown;
    border-radius: 25px;
    padding: 30px;
}

.button-1{
    width: fit-content;
    background-color: var(--shadedbisque);
    color: brown;
    padding: 8px 12px;
    border-radius: 20px;
    border: 3px solid brown;

    text-decoration: none;
    

}

.center{

    margin: 0 auto;
    width: fit-content; 

}

.parent-center{
    text-align: center;
}



hr{
    margin: 20px 0px;
}

.inner-box{
    background-color: var(--shadedbisque);
    padding: 15px 30px;
    border-radius: 20px;
    border: 3px solid brown;
    
}



.button-1:hover{
    
}

.button-hover:hover{
    background-color: rgb(255, 187, 104);
}

ul{
    list-style-type: none;  
}

.circle{
    margin-top: 200px;
    width: 200px;
    height: 50px;
    background-color: red ;

    overflow: scroll;
}

